.menu > li:first-child {
	display: none;
}

.menu > li,
.category {
    padding: 10px 10px;
    text-align: center;
}

#category-list {
    padding-bottom: 10px;
}

.categories {
    display: none;
}

.show {
    display: block;
}

@media screen and (min-width: 768px) {
    
}

/* ********************************** */
/*             SEARCH BAR             */
/* ********************************** */
.btn-search {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.search-form {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
    border-radius: 2rem; 
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
}

.search-form input[type="search"] {
    flex-grow: 4;
}

.search-form input[type="submit"] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input::-webkit-search-cancel-button {
    appearance: none;
}

.search-form .btn-search {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    border-top-right-radius: 2rem; 
    border-bottom-right-radius: 2rem; 
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 80%;
	margin: auto;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	max-width: 100%;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 100%;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	max-width: 100%;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}


.btn-read-more a {
    text-decoration: none;
	color: black;

}

.btn-read-more {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin: 3rem 0 5rem;
    display: inline-block;
    border: none;
    outline: none; 
    cursor: pointer; 
}

.btn-read-more:hover {
    background-color: var(--dark-color);
}


/* Media Queries para mostrar los blogs de manera responsive */

@media screen and (max-width: 768px) {
  .container-blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .container-blogs {
    grid-template-columns: 1fr;
  }
}