.menu {
    text-align: center;
    padding-bottom: 20px;
}

 .menu li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li > p {
    padding-bottom: 20px;
}

.menu li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-category {
    font-size: 2rem;
}

.form-category:hover {
    cursor: pointer;
}

.search-form {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
    border-radius: 2rem;
    margin: auto;
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
}

.search-form input::-webkit-search-cancel-button {
    appearance: none;
}

.btn-search {
    border: none;
    background-color: var(--background-color);
    height: 100%;
    padding: 1rem;
    border-radius: 2rem; 
    color: white;
    width: 70%;
}

.btn-search:hover {
    cursor: pointer;
}

.categories-filter > div,
.categories-filter > div {
    max-width: 140px;
    margin: auto;
    text-align: left;
}

@media screen and (min-width: 740px) {
    .side-section {
        max-width: 300px;
    }

    .filters {
		font-size: 1.7rem;
	}

	.form-category {
		font-size: 1.7rem;
	}

    .menu > li:first-child:hover {
		cursor: pointer;
		background-color: var(--dark-color);
	}
}
    